*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black; 
    color: white;       
    padding: 32px;
    }

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*max-width: 1200px;
    padding: 50px 0;*/
}

.footer-left{
    display:flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.footer-left-title{
    /*margin-bottom: 18px;*/
    width: 100%;
}

.footer-title{
    
    font-size: 48px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.5px;  
}
.footer-desc{
    
    max-width: 380px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.5px;
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto;
}
.footer-img{
        
    width: 18vw;
    height: 18vw;
    max-width: 280px;
    height: auto;
    margin-top: 24px;
}
#subscribe{
    background-color: black;
    border-color: white;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.5px;
    font-size: 20px;
    font-weight: 400;
    border: solid;
    line-height: 1;
    border-width: 1px;
    padding: 10px 20px;
    text-align: center;
    align-self: flex-start;
    border-radius: 100px;    
    transition: all .2s;
    display: inline-block;
    position: relative;
    overflow: hidden;
    
}

#subscribe:hover {
    background-color: white;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    color: black;
}
.email-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    width: 100%;
}
.email-form label {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}
.email-form input {
    background: none;
    border: none;
    border-bottom: 1px solid white; 
    color: white;
    font-size: 1rem;
    padding: 0.5rem 0;
    outline: none;
}

.email-form input::placeholder {
    color: transparent;
}





@media screen and (min-width: 1440px) {
    .footer-left-title {
        width: 65%;
    }
}
@media screen and (min-width: 1440px) {
    .footer-desc {
        padding-left: 2em;
        padding-right: 2em;
    }
}
@media (max-width: 768px) {
    .footer-left {
        flex-direction: column;
        text-align: center;
    }

    .footer-left, .footer-right {
        max-width: 100%;
    }

    .footer-right {
        text-align: center;
    }
}

/*<body>
    <nav class="navbar">
        <a href="https://www.rocketair.com/">
            <img src="rocketair logo.jpg" id="logo" alt="Rocketair Logo">
        </a>

        <a href="https://www.rocketair.com/contact">
            <button id="button">Get in touch</button>
        </a>
    </nav>
</body>   

.navbar{
    display: flex;                 
    justify-content: space-between;  
    align-items: center;         
    background-color: #000000;        
    padding: 23px 32px 23px 32px;          
    margin: 0;   
    
}
#button{
    background-color: #dbff00;
    border-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 400;
    border: none;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    width: 130px;
    border-radius: 100px;
}

#button:hover {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 0.8px;
    color: white;
}

#logo{
    height: 30px;
    width: 30px;

}navbar*/